.idea
.vscode
upload
*.exe
*.db
build
*.db-journal
logs
data
/web/node_modules
cmd.md
.env
temp
.DS_Store
.gocache
.gomodcache

.gopath/
.tiktoken_cache/
one-api.db.bak.2026-01-02-1916
nohup.out
/CodexDev/
/CodexDev/SnwHist/
/Codex/
/LifeForm/*
